@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-sans: 'Geist', ui-sans-serif, system-ui, sans-serif;
}

:root {
    --font-sans: 'Geist', ui-sans-serif, system-ui, sans-serif;
    --ui-radius: 0.375rem;
    --ui-text: var(--ui-color-neutral-950);
    --ui-text-highlighted: var(--ui-color-neutral-950);
    --ui-bg-accented: var(--ui-color-neutral-100);
    --ui-bg-inverted: var(--ui-color-neutral-950);
    --ui-border-muted: var(--ui-color-neutral-100);
    --ui-border-inverted: var(--ui-color-neutral-950);
    --ui-color-primary-50: oklch(0.552 0.016 285.938);
    --ui-color-primary-100: oklch(0.442 0.017 285.786);
    --ui-color-primary-200: oklch(0.37 0.013 285.805);
    --ui-color-primary-300: oklch(0.274 0.006 286.033);
    --ui-color-primary-400: oklch(0.21 0.006 285.885);
    --ui-color-primary-500: oklch(0.141 0.005 285.823);
    --ui-color-primary-600: oklch(0.141 0.005 285.823);
    --ui-color-primary-700: oklch(0.141 0.005 285.823);
    --ui-color-primary-800: oklch(0.141 0.005 285.823);
    --ui-color-primary-900: oklch(0.141 0.005 285.823);
    --ui-color-primary-950: oklch(0.141 0.005 285.823);
    --ui-color-secondary-50: oklch(0.967 0.001 286.375);
    --ui-color-secondary-100: oklch(0.92 0.004 286.32);
    --ui-color-secondary-200: oklch(0.871 0.006 286.286);
    --ui-color-secondary-300: oklch(0.705 0.015 286.067);
    --ui-color-secondary-400: oklch(0.552 0.016 285.938);
    --ui-color-secondary-500: oklch(0.442 0.017 285.786);
    --ui-color-secondary-600: oklch(0.37 0.013 285.805);
    --ui-color-secondary-700: oklch(0.274 0.006 286.033);
    --ui-color-secondary-800: oklch(0.21 0.006 285.885);
    --ui-color-secondary-900: oklch(0.141 0.005 285.823);
    --ui-color-secondary-950: oklch(0.141 0.005 285.823);
    --ui-color-success-50: oklch(0.95 0.052 163.051);
    --ui-color-success-100: oklch(0.905 0.093 164.15);
    --ui-color-success-200: oklch(0.845 0.143 164.978);
    --ui-color-success-300: oklch(0.765 0.177 163.223);
    --ui-color-success-400: oklch(0.696 0.17 162.48);
    --ui-color-success-500: oklch(0.596 0.145 163.225);
    --ui-color-success-600: oklch(0.508 0.118 165.612);
    --ui-color-success-700: oklch(0.432 0.095 166.913);
    --ui-color-success-800: oklch(0.378 0.077 168.94);
    --ui-color-success-900: oklch(0.262 0.051 172.552);
    --ui-color-success-950: oklch(0.262 0.051 172.552);
    --ui-color-info-50: oklch(0.951 0.026 236.824);
    --ui-color-info-100: oklch(0.901 0.058 230.902);
    --ui-color-info-200: oklch(0.828 0.111 230.318);
    --ui-color-info-300: oklch(0.746 0.16 232.661);
    --ui-color-info-400: oklch(0.685 0.169 237.323);
    --ui-color-info-500: oklch(0.588 0.158 241.966);
    --ui-color-info-600: oklch(0.5 0.134 242.749);
    --ui-color-info-700: oklch(0.443 0.11 240.79);
    --ui-color-info-800: oklch(0.391 0.09 240.876);
    --ui-color-info-900: oklch(0.293 0.066 243.157);
    --ui-color-info-950: oklch(0.293 0.066 243.157);
    --ui-color-warning-50: oklch(0.962 0.059 95.617);
    --ui-color-warning-100: oklch(0.924 0.12 95.746);
    --ui-color-warning-200: oklch(0.879 0.169 91.605);
    --ui-color-warning-300: oklch(0.828 0.189 84.429);
    --ui-color-warning-400: oklch(0.769 0.188 70.08);
    --ui-color-warning-500: oklch(0.666 0.179 58.318);
    --ui-color-warning-600: oklch(0.555 0.163 48.998);
    --ui-color-warning-700: oklch(0.473 0.137 46.201);
    --ui-color-warning-800: oklch(0.414 0.112 45.904);
    --ui-color-warning-900: oklch(0.279 0.077 45.635);
    --ui-color-warning-950: oklch(0.279 0.077 45.635);
    --ui-color-error-50: oklch(0.936 0.032 17.717);
    --ui-color-error-100: oklch(0.885 0.062 18.334);
    --ui-color-error-200: oklch(0.808 0.114 19.571);
    --ui-color-error-300: oklch(0.704 0.191 22.216);
    --ui-color-error-400: oklch(0.637 0.237 25.331);
    --ui-color-error-500: oklch(0.577 0.245 27.325);
    --ui-color-error-600: oklch(0.505 0.213 27.518);
    --ui-color-error-700: oklch(0.444 0.177 26.899);
    --ui-color-error-800: oklch(0.396 0.141 25.723);
    --ui-color-error-900: oklch(0.258 0.092 26.042);
    --ui-color-error-950: oklch(0.258 0.092 26.042);
}

.dark {
    --ui-text: var(--ui-color-neutral-50);
    --ui-text-highlighted: white;
    --ui-text-inverted: var(--ui-color-neutral-950);
    --ui-bg-muted: var(--ui-color-neutral-900);
    --ui-bg-elevated: var(--ui-color-neutral-900);
    --ui-bg-accented: var(--ui-color-neutral-800);
    --ui-bg-inverted: var(--ui-color-neutral-50);
    --ui-border-muted: var(--ui-color-neutral-800);
    --ui-border-inverted: var(--ui-color-neutral-50);
    --ui-color-primary-50: oklch(0.985 0 0);
    --ui-color-primary-100: oklch(0.985 0 0);
    --ui-color-primary-200: oklch(0.985 0 0);
    --ui-color-primary-300: oklch(0.985 0 0);
    --ui-color-primary-400: oklch(0.985 0 0);
    --ui-color-primary-500: oklch(0.985 0 0);
    --ui-color-primary-600: oklch(0.967 0.001 286.375);
    --ui-color-primary-700: oklch(0.92 0.004 286.32);
    --ui-color-primary-800: oklch(0.871 0.006 286.286);
    --ui-color-primary-900: oklch(0.705 0.015 286.067);
    --ui-color-primary-950: oklch(0.552 0.016 285.938);
    --ui-color-secondary-50: oklch(0.985 0 0);
    --ui-color-secondary-100: oklch(0.985 0 0);
    --ui-color-secondary-200: oklch(0.967 0.001 286.375);
    --ui-color-secondary-300: oklch(0.92 0.004 286.32);
    --ui-color-secondary-400: oklch(0.871 0.006 286.286);
    --ui-color-secondary-500: oklch(0.705 0.015 286.067);
    --ui-color-secondary-600: oklch(0.552 0.016 285.938);
    --ui-color-secondary-700: oklch(0.442 0.017 285.786);
    --ui-color-secondary-800: oklch(0.37 0.013 285.805);
    --ui-color-secondary-900: oklch(0.274 0.006 286.033);
    --ui-color-secondary-950: oklch(0.21 0.006 285.885);
    --ui-color-success-50: oklch(0.979 0.021 166.113);
    --ui-color-success-100: oklch(0.979 0.021 166.113);
    --ui-color-success-200: oklch(0.95 0.052 163.051);
    --ui-color-success-300: oklch(0.905 0.093 164.15);
    --ui-color-success-400: oklch(0.845 0.143 164.978);
    --ui-color-success-500: oklch(0.765 0.177 163.223);
    --ui-color-success-600: oklch(0.696 0.17 162.48);
    --ui-color-success-700: oklch(0.596 0.145 163.225);
    --ui-color-success-800: oklch(0.508 0.118 165.612);
    --ui-color-success-900: oklch(0.432 0.095 166.913);
    --ui-color-success-950: oklch(0.378 0.077 168.94);
    --ui-color-info-50: oklch(0.977 0.013 236.62);
    --ui-color-info-100: oklch(0.977 0.013 236.62);
    --ui-color-info-200: oklch(0.951 0.026 236.824);
    --ui-color-info-300: oklch(0.901 0.058 230.902);
    --ui-color-info-400: oklch(0.828 0.111 230.318);
    --ui-color-info-500: oklch(0.746 0.16 232.661);
    --ui-color-info-600: oklch(0.685 0.169 237.323);
    --ui-color-info-700: oklch(0.588 0.158 241.966);
    --ui-color-info-800: oklch(0.5 0.134 242.749);
    --ui-color-info-900: oklch(0.443 0.11 240.79);
    --ui-color-info-950: oklch(0.391 0.09 240.876);
    --ui-color-warning-50: oklch(0.987 0.022 95.277);
    --ui-color-warning-100: oklch(0.987 0.022 95.277);
    --ui-color-warning-200: oklch(0.962 0.059 95.617);
    --ui-color-warning-300: oklch(0.924 0.12 95.746);
    --ui-color-warning-400: oklch(0.879 0.169 91.605);
    --ui-color-warning-500: oklch(0.828 0.189 84.429);
    --ui-color-warning-600: oklch(0.769 0.188 70.08);
    --ui-color-warning-700: oklch(0.666 0.179 58.318);
    --ui-color-warning-800: oklch(0.555 0.163 48.998);
    --ui-color-warning-900: oklch(0.473 0.137 46.201);
    --ui-color-warning-950: oklch(0.414 0.112 45.904);
    --ui-color-error-50: oklch(0.971 0.013 17.38);
    --ui-color-error-100: oklch(0.971 0.013 17.38);
    --ui-color-error-200: oklch(0.936 0.032 17.717);
    --ui-color-error-300: oklch(0.885 0.062 18.334);
    --ui-color-error-400: oklch(0.808 0.114 19.571);
    --ui-color-error-500: oklch(0.704 0.191 22.216);
    --ui-color-error-600: oklch(0.637 0.237 25.331);
    --ui-color-error-700: oklch(0.577 0.245 27.325);
    --ui-color-error-800: oklch(0.505 0.213 27.518);
    --ui-color-error-900: oklch(0.444 0.177 26.899);
    --ui-color-error-950: oklch(0.396 0.141 25.723);
}